@model ASonline.ViewModels.NewProductViewModel
@{ ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string[] selectSizeOptions = { "XS", "S", "M", "L", "XL", "XXL", "XXXL" };
    // var imageUrl = "/Content/images/System/noPic.png"; }
}

<section class="content p-3">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-7">
                <!-- general form elements -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Podaci o novom proizvodu</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="createProduct">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Naziv <span style="color:red;">*</span></label>
                                <input class="form-control" id="Name" name="Name" autocomplete="off" required placeholder="Naziv" />
                            </div>
                            <div class="form-group">
                                <label for="Description">Opis</label>
                                <textarea class="form-control" id="Description" name="Description" rows="12" autocomplete="off" placeholder="Opis proizvoda..."> </textarea>
                            </div>
                            <div class="form-group">
                                <label for="Price">Cena<span style="color:red;">*</span></label>
                                <input class="form-control" id="Price" name="Price" autocomplete="off" required placeholder="Cena (RSD)" />
                            </div>
                            <div class="form-group">
                                <label for="PriceUnderline">Sniženje ( % )</label>
                                <input class="form-control" type="number" min="1" max="100" id="PriceUnderline" name="PriceUnderline" placeholder="Sniženje ( % )" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label for="CategoryId">Kategorija <span style="color:red;">*</span></label>
                                <select class="form-control" id="CategoryId" name="CategoryId">
                                    @foreach (var category in Model.AvailableCategories)
                                    {
                        <option value="@category.Id">@category.Name</option>
}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Image">Slika</label>
                                <input type="file" accept=".jpg, .png" class="form-control" id="imageUpload" name="Image" autocomplete="off" />
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="col-md-7">
                            <div id="product-images">

                            </div>
                        </div>

                        <div class="card-footer">
                            <a id="saveBtn" class="btn btn-info mt-2" style="cursor: pointer; color: white;">Dodaj proizvod</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->

            <div class="col-md-5 h-100">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Dodaj zalihe</h3>
                    </div>

                    <div class="card-body">

                        <div class="form-group">
                            <label for="Size">Veličina</label>
                            <select class="form-control" name="Size" id="SizeId">
                                @foreach (var sizeOption in selectSizeOptions)
                                {
                                     <option>@sizeOption</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="Quantity">Količina <span style="color:red;">*</span></label>
                            <input name="Quantity" id="QuantityId" class="form-control" type="number" min="1" value="1" />
                        </div>

                        <div id="addedSizesId">

                        </div>

                    </div>

                    <div class="card-footer">
                        <a id="addSizeBtn" class="btnSize float-right"><i class='bx bx-add-to-queue'></i></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
  
<script src="~/Content/javascript/Product/ProductCreate.js"></script>