@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div style="height:500px;">
   <div class="container mt-4">
       <div class="alert alert-success">
           
           <h2>
               <i class='bx bx-like'></i>
               Lozinka je poslata na Vašu adresu
           </h2>
           <p class="mt-3">
               Nova šifra je poslata na vašu adresu, ali može proći nekoliko minuta pre nego što se pojavi u prijemnim porukama. 
               Pričekajte najmanje 10 minuta prije nego što pokrenete drugo ponovno postavljanje šifre.
           </p>
       </div>
   </div>
</div>
	
