@{ ViewBag.Title = "Contact"; }
<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Kontakt</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Početna</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Kontakt</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                       Kontaktirajte nas
                    </h2>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-4">
                <div class="iconbox text-center">
                    <div class="box-header nomargin">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-content">
                        <p>Ulica Kneginje Milice, Stara pošta</p>
                    </div><!-- /.box-content -->
                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="divider h0"></div>
                <div class="iconbox text-center">
                    <div class="box-header">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-content">
                        <p>+381 62 159 3412  / +381 65 500 7155</p>
                    </div><!-- /.box-content -->
                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="divider h0"></div>
                <div class="iconbox text-center">
                    <div class="box-header">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-content">
                        <p><a href="mailto:mysupport@gmail.com">mysupport@gmail.com</a></p>
                    </div><!-- /.box-content -->
                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
        <div class="divider h43"></div>
        <div class="row">
            <div class="col-md-12">
              <img src="~/Content/images/contactUs.svg" alt="contant"/>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->
