
@{
    ViewBag.Title = "PrivacyPolicy";
}


<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Politika privatnosti</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Početna</a></li>
                        <li><a href="@Url.Action("PrivacyPolicy","Home")">Politika privatnosti</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<div class="container mt-3">
    <div class="privacy-policy-container">
        <div>
            <p>
               <span class="active font-weight-600">CABALLEROS</span> shvata veoma ozbiljno obavezu čuvanja vaše privatnosti, i svaku Vašu informaciju koju nam ostavite na sajtu tretiraćemo brižno, u skladu sa Zakonom o Elektronskoj Trgovini (Sl.Glasnik Republike Srbije br. 41/2009)
            </p>
            <hr />
            <p>   Posetom našeg sajta i / ili registracijom prihvatate i saglasni ste sa praksom opisanom u našoj politici privatnosti koja se može naći na dnu svake stranice na sajtu.</p>
            <br />
            <h3>Privatnost</h3>
            <br />
            <p>
                Osim ukoliko nije drugačije navedeno u nastavku, pružanje Vaših ličnih podataka nije ni zahtevano zakonom niti ugovorom, niti je obavezno da sklopi ugovor. Niste obavezni da date podatke bez rezervisanja nema nikakvih posledica. Ovo se primjenjuje samo ukoliko nijedna druga informacija nije data u narednim operacijama obrade.
                “Lični podaci” podrazumevaju svaku informaciju koja se odnosi na identifikovano ili identifikovano fizičko lice.
            </p>
            <br />
            <h3>Server-Logfiles</h3>
            <br />
            <p>Možete posetiti naše web stranice bez davanja ličnih podataka.
              Svaki put kada pristupate našoj veb stranici, podaci o korišćenju se prenose preko Vašeg Internet pretraživača i čuvaju se u logovskim podacima (datoteke evidencije servera).
              Ovi spremljeni podaci uključuju npr. Ime pozvane stranice, datum i vreme poziva, količinu prenesenih podataka i provajder zahteva.
              Ovi podaci se koriste isključivo za obezbeđivanje bezbednog rada našeg sajta i poboljšanje naše ponude.
              Dodeljivanje ovih podataka određenoj osobi nije moguće.
            </p>
            <br />
            <h3>Sakupljanje i obrada koristeći kontakt formu</h3>
            <br />
            <p>
                Kada koristimo kontakt formu, sakupljamo Vaše lične podatke (ime, e-mail adresu, tekst poruke) samo u obimu koji ste dobili.
                Obrada podataka služi za uspostavljanje kontakta.
                Ako pošaljete Vašu poruku, saglasni ste za obradu prenesenih podataka.
                <br />
                Možete da opozovete Vašu saglasnost u bilo kom trenutku tako što ćete nas obavestiti bez uticaja na zakonitost obrade na osnovu pristanka na opoziv.
                Koristimo samo Vašu e-mail adresu da obradimo Vaš zahtev.
                Tada će se Vaši podaci brisati, osim ako ste se saglasili sa daljom obradom i korišćenjem.
            </p>
            <br />
            <h3>Prikupljanje podataka pri pisanju komentara</h3>
            <br />
            <p>
                Kada komentarišete članak, sakupljamo Vaše lične podatke (ime, e-mail adresu, tekst komentara. Svrha obrade je da dozvoli komentare. Podnošenje komentara dajete saglasnost za obradu prenetih podataka.
            </p>
            <br />
            <p>
                Možete da opozovete Vašu saglasnost u bilo kom trenutku obaveštavajući nas bez uticaja na zakonitost obrade na osnovu pristanka na opoziv.
                Vaši lični podaci će biti izbrisani nakon toga.
            </p>
            <br />
            <p>
                Kada se Vaš komentar objavi,Vaše ime će biti objavljeno.
            </p>
            <br />
            <p>
                Pored toga, kada je komentar dostavljen, vaša IP adresa će biti sačuvana u svrhu sprečavanja zloupotrebe funkcije komentara i osiguranja sigurnosti naših informacionih tehnologija.
                Podnošenje komentara dajete saglasnost za obradu prenetih podataka.
            </p>
            <br />
            <p>
                Možete da opozovete Vašu saglasnost u bilo kom trenutku obaveštavajući nas bez uticaja na zakonitost obrade na osnovu pristanka na opoziv.
                Vaša IP adresa će biti izbrisana nakon toga.
            </p>
            <br />
            <h3>Prikupljanje, obrada i korišćenje ličnih podataka za narudžbine</h3>
            <br />
            <p>Prilikom naručivanja, mi prikupljamo i koristimo Vaše lične podatke samo u onoj meri u kojoj je to potrebno za ispunjavanje i obradu Vaše narudžbine i za obradu Vaših zahteva.
               Obezbeđivanje podataka je potrebno za zaključivanje ugovora. Neizvršenje znači da se ne može zaključiti ugovor.
            </p>
            <br />
            <p>
                Prenos Vaših podataka trećim licima bez Vaše izričite saglasnosti nije dozvoljen.
                Izuzev od ovoga su samo naši partneri u uslužnoj delatnosti, kojima treba obraditi ugovorne odnose ili pružaoce usluga od kojih služimo u kontekstu naloga za obradu.
                Vaše podatke možemo proslediti trećim licima nekoj od kurirskih službi u slučaju narudžbe određenih artikala, kako bi bili u mogućnosti isporučiti robu, ili našoj marketinškoj agenciji, koja Vaše podatke može koristiti isključivo u svrhe analiza, i poboljšanja kvaliteta pružanja usluge.
                Dodatno, određene Vaše informacije mogu biti prosleđene ovlašćenom državnom organu na njihov eksplicitni zahtev.
                U svim slučajevima striktno se pridržavamo zakonskih zahteva.
                Obim prenosa podataka je ograničen na minimum.
            </p>
            <br />
            <p>
                Prosleđivanje e-mail adrese kurirskim službama za informacije o stanju isporuke.
            </p>
            <br />
            <p>
                Mi ćemo preneti Vašu e-mail adresu u sklopu ugovora sa prevoznom kompanijom, ako ste se  izričito složili u postupku naručivanja.
                Svrha obelodanjivanja je da Vas obavesti putem e-maila o statusu isporuke.
            </p>
            <br />
            <p>
                Možete da opozovete vašu saglasnost u bilo kom trenutku obaveštenjem nas ili kurirskom službom bez uticaja na zakonitost obrade koja se vrši na osnovu saglasnosti do poništenja.
            </p>
            <br />
            <h3>
                Kolačići („Cookies“)
            </h3>
            <br />
            <p>
                Naša veb stranica koristi kolačiće.
                Kolačići su mali tekstualni fajlovi koji se čuvaju u Internet pretraživaču ili Internet pretraživaču u računarskom sistemu korisnika.
                Kada korisnik poseti veb lokaciju, kolačići se mogu čuvati u korisničkom operativnom sistemu.
                Ovaj kolačić sadrži karakteristični niz koji omogućava pretraživaču da bude jedinstveno identifikovan kada se web lokacija ponovo otvori.
                Koristimo kolačiće kako bismo našu ponudu učinili korisnijom, efikasnijom i sigurnijom.
                Pored toga, kolačići omogućavaju našim sistemima da prepoznaju vaš pretraživač čak i nakon promene stranice i pružaju Vam usluge.
                Neke karakteristike našeg sajta ne mogu se ponuditi bez upotrebe kolačića.
                Za ove potrebe, neophodno je da se pretraživač prepozna i nakon prekida stranice.
            </p>
            <br />
            <p>
                Pored toga, koristimo kolačiće na našoj web stranici u cilju omogućavanja analize ponašanja surfanja naših posetilaca.
                Štaviše, mi koristimo kolačiće u cilju naknadnog adresiranja posetilaca sajta na drugim web stranicama sa ciljanim oglašavanjem zasnovanim na interesovanju.
            </p>
            <br />
            <p>
                Kolačići se čuvaju na Vašem računaru.
                Dakle, imate potpunu kontrolu nad upotrebom kolačića.
                Izborom odgovarajućih tehničkih postavki u Vašem Internet pretraživaču možete sprečiti skladištenje kolačića i prenošenje podataka sadržanih u njemu.
                Već sačuvani kolačići mogu biti izbrisani u bilo kom trenutku.
                Ističemo, međutim, da možda nećete moći da koristite sve karakteristike ove web stranice u potpunosti.
            </p>
            <br />
            <h3>Zabrinuti ste zbog:</h3>
            <br />
            <p>
                Ako imate bilo kakva pitanja ili komentare vezane za korisničku privatnost ili za <span class="active">CABALLEROS</span> Politiku Privatnosti, ili ste već poslali informacije koje ne želite da mi imamo, ili ste poslali netačne podatke, molimo Vas da nas kontaktirate na adresu dole iz footera, ili putem telefona 062/159-3412 ili caballeros@gmail.com i informacija će biti ispravljena čim pre ili uklonjena na vaš zahtev.
                Ukoliko smatrate da ova polisa ne zadovoljava, ili da je mi nismo ispoštovali u bilo kojem pogledu, kontaktirajte nas kako bi smo Vam pomogli i razrešili vašu brigu ili problem.
            </p>
            <br />
            <h3>Podrška i reklamacije</h3>
            <br />
            <p>
                Bilo koji problem vezan za proizvod kupljen u prodavnici <span class="active">“CABALLEROS”</span> možete rešiti kontaktom na bilo koji od dole navedenih podataka:
            </p>
            <br />
            <p>
                <ul>
                    <li>Mailom na <span class="active">caballeros@gmail.com</span></li>
                    <li>Pozivom na <span class="active">062/159-3412</span> </li>
                </ul>
            </p>
        </div>
    </div>
</div>