@model ASonline.ViewModels.NewCategoryViewModel

@{
    ViewBag.Title = "Create";
    var imageUrl = "/Content/images/System/noPic.png";
}



    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Nova kategorija
                    </h2>
                </div>
            </div>
        </div>
        <form id="createCategory">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="Name">Naziv kategorije <span class="active">*</span></label>
                        <br />
                        <input class="form-control" id="Name" name="Name" autocomplete="off" required />
                    </div>
                    <div class="form-group">
                        <label for="Description">Opis</label>
                        <br />
                        <textarea class="form-control" id="Description" name="Description" autocomplete="off" rows="20" />
                    </div>
                    <div class="form-group">
                        <label for="IsFeatured">Da li je istaknuta? <span class="active">*</span></label>
                        <br />
                        <input name="IsFeatured" type="radio" value="true" /> Da
                        <input name="IsFeatured" type="radio" value="false" checked/> Ne
                    </div>
                    <div class="form-group">
                        <label for="Image">Slika</label>
                        <br />
                        <input type="hidden" name="ImageUrl" id="ImageUrl" />
                        <input type="file" accept=".jpg, .png" class="form-control" id="imageUpload" name="Image" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="thumb">
                            <img class="img-thumbnail img-fluid" id="categoryImage" src="@imageUrl" />
                        </div>
                </div>
            </div>
            <a id="saveCategoryBtn" class="btn btn-info mt-2" style="cursor: pointer; color: white;">Dodaj kategoriju</a>
            <button id="cancelBtn" type="submit" class="btn mt-2">Nazad</button>
        </form>
    </div>

<script src="~/Content/javascript/Category/CategoryCreate.js"></script>