@model ASonline.ViewModels.NewCategoryViewModel

@{ ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
                var imageUrl = "/Content/images/System/noPic.png"; 
}

<section class="content p-3">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Podaci o novoj kategoriji</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                   
                    <form id="createCategory">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="Name">Naziv kategorije <span style="color:red;">*</span></label>
                                        <input class="form-control" id="Name" name="Name" autocomplete="off" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="Description">Opis</label>
                                        <textarea class="form-control" id="Description" name="Description" autocomplete="off" rows="20"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="IsFeatured">Da li je istaknuta? <span style="color:red;">*</span></label>
                                        <input name="IsFeatured" type="radio" value="true" /> Da
                                        <input name="IsFeatured" type="radio" value="false" checked /> Ne
                                    </div>
                                    <div class="form-group">
                                        <label for="Image">Slika</label>
                                        <input type="hidden" name="ImageUrl" id="ImageUrl" />
                                        <input type="file" accept=".jpg, .png" class="form-control" id="imageUpload" name="Image" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <img class="img-thumbnail img-fluid" id="categoryImage" src="@imageUrl" />
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <div class="card-footer">
                            <a id="saveCategoryBtn" class="btn btn-info mt-2" style="cursor: pointer; color: white;">Dodaj kategoriju</a>
                        </div>
                    </form>
              </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


<script src="~/Content/javascript/Category/CategoryCreate.js"></script>