
@{ ViewBag.Title = "Index"; }

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">KATEGORIJE</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="">Admin</a></li>
                        <li><a href="@Url.Action("Index","Category")">Kategorije</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row flat-icon-box">
    <div class="container">
        <div id="tableCategoryContainer" class="p-3">
            @{ Html.RenderAction("_CategoryTable"); }
        </div>

        <div id="actionCategoryContainer" class="container p-3">

        </div>
    </div>
</section>

<script src="~/Content/javascript/Category/CategoryIndex.js"></script>