
@{ ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }



<div class="container">
    <div id="tableCategoryContainer" class="p-3">
        @{ Html.RenderAction("_CategoryTable"); }
    </div>
</div>

